<div class="row">
	<div class="col-sm-6">
		<h2>Test messages default messages container</h2>
		<p>Test if the messages return by the REST service are displayed correctly in the default messages container. 
		Activating the buttons will show messages for success, error and info.</p>
		<br/>
 		<p><a href="#" id="messagesDefaultContainerButton" class="btn btn-primary" ng-click="getMessagesDefaultContainer($event)">Test</a></p>
	</div>
	<div class="col-sm-6">
		<h2>Test single message named messages container</h2>
		<p>Test if the single message return by the REST service is displayed correctly in the named messages container. 
		Activating the buttons will show a info message.</p>
		<br/>
 		<p><a href="#" id="singleMessageNamedContainerButton" class="btn btn-primary" ng-click="getSingleMessageNamedContainer($event)">Test</a></p>
 		<br/>
		<div id="singleMessageContainer" class="messagesContainer"></div>
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
		<h2>Test messages named messages container</h2>
		<p>Test if the messages return by the REST service are displayed correctly in the named messages container. 
		Activating the buttons will show messages for success, error and info.</p>
		<br/>
 		<p><a href="#" id="messagesNamedContainerButton" class="btn btn-primary" ng-click="getMessagesNamedContainer($event)">Test</a></p>
 		<br/>
		<div id="messagesNamedContainer" class="messagesContainer"></div>
	</div>
	<div class="col-sm-6">
		<h2>Test messages multiple named messages container</h2>
		<p>Test if the messages return by the REST service are displayed correctly in the named messages containers. 
		Activating the buttons will show messages for success, error and info.</p>
		<br/>
 		<p><a href="#" id="messagesMultpleNamedContainersButton" class="btn btn-primary" ng-click="getMessagesMultipleNamedContainers($event)">Test</a></p>
		<div class="row">
			<div class="col-sm-6">
				<div id="messagesNamedContainerA" class="messagesContainer"></div>
			</div>
			<div class="col-sm-6">
				<div id="messagesNamedContainerB" class="messagesContainer"></div>
			</div>
		</div>
	</div>
</div>
