<div class="row" onload="alert('x');prettyPrint();">
	<div class="col-sm-12">
		<h2>Testing the AngularJS language module's ngcMessagesService</h2>
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
		<h2>Method load</h2>
		<p>Test if the messages are put in the messages cache from a file resource.</p>
		<br/>
		<div class="form-horizontal">
			<div class="form-group">
				<div class="col-sm-offset-4 col-sm-8">
					<a href="#" id="loadMessagesEnglishButton" class="btn btn-primary" ng-click="loadMessagesEnglish($event)">Load (english)</a>
					<a href="#" id="loadMessagesDutchButton" class="btn btn-primary" ng-click="loadMessagesDutch($event)">Load (dutch)</a>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label" for="name">Label 1</label>
				<div class="col-sm-8">
					<div class="form-control-static">{{'testLabel1' | ngcMessage}}</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label" for="name">Label 2 with parameter</label>
				<div class="col-sm-8">
		 			<div class="form-control-static">{{'testLabel2' | ngcMessage:({'loadMessagesParameter': loadMessagesParameter})}}</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label" for="name">Label 2 parameter</label>
				<div class="col-sm-8">
		 			<input type="text" class="form-control" ng-model="loadMessagesParameter"/>
				</div>
			</div>
	 	</div>
		<a ng-click="showLoadResources = false; showLoadCode = !showLoadCode">{{showLoadCode ? 'Hide' : 'Show'}} code</a>	 	
		<a ng-click="showLoadCode = false; showLoadResources = !showLoadResources">{{showLoadResources ? 'Hide' : 'Show'}} resources</a>	 	
		<div ng-show="showLoadResources">
			<p>Resource <a href="../messages/messages_en-us.txt" target="_blank">messages_en-us.txt</a> for english messages.</p>
			<pre>
<code ng-include="'../messages/messages_en-us.txt'"/>
			</pre>
			<p>Resource <a href="../messages/messages_nl.txt" target="_blank">messages_nl.txt</a> for dutch messages.</p>
			<pre>
<code ng-include="'../messages/messages_nl.txt'"/>
			</pre>
		</div>
		<div ng-show="showLoadCode">
		 	<p>Code for loading the english messages.</p>
		 	<pre>
		 		<code ngc-prettyprint>
var messagesUrl = applicationContext.contextPath + '/messages/messages_en-us.txt';
ngcMessagesService.load(messagesUrl);
ngcMessagesService.setLanguage('en-us');
				</code>
			</pre>
			</br></br>
		 	<p>Code for loading the dutch messages.</p>
		 	<pre>
		 		<code ngc-prettyprint>
var messagesUrl = applicationContext.contextPath + '/messages/messages_nl.txt'
ngcMessagesService.load(messagesUrl);
ngcMessagesService.setLanguage('nl');
				</code>
			</pre>
		</div>	 	
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
		<h2>Method put :: multi messages</h2>
		<p>Test if multiple messages are put in the messages cache by the put method.</p>
		<br/>
		<div class="form-horizontal">
			<div class="form-group">
				<div class="col-sm-offset-4 col-sm-8">
					<a href="#" id="putMultipleMessagesEnglishButton" class="btn btn-primary" ng-click="putMultipleMessagesEnglish($event)">Put (englisch)</a>
					<a href="#" id="putMultipleMessagesDutchButton" class="btn btn-primary" ng-click="putMultipleMessagesDutch($event)">Put (dutch)</a>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label" for="name">Label 3</label>
				<div class="col-sm-8">
					<div class="form-control-static">{{'testLabel3' | ngcMessage}}</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label" for="name">Label 4 with parameter</label>
				<div class="col-sm-8">
		 			<div class="form-control-static">{{'testLabel4' | ngcMessage:({'putMultipleMessagesParameter': putMultipleMessagesParameter})}}</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label" for="name">Label 4 parameter</label>
				<div class="col-sm-8">
		 			<input type="text" class="form-control" ng-model="putMultipleMessagesParameter"/>
				</div>
			</div>
	 	</div>
		<a ng-click="showPutMultiMessagesCode = !showPutMultiMessagesCode">{{showPutMultiMessagesCode ? 'Hide' : 'Show'}} code</a>	 	
		<div ng-show="showPutMultiMessagesCode">
		 	<p>Code for loading the english messages.</p>
		 	<pre>
			 	<code ngc-prettyprint>
ngcMessagesService.put({
	'language' : 'en-us',
	'messages' : [ {
		'code' : 'testLabel1',
		'text' : 'Initial'
	}, {
		'code' : 'testLabel2',
		'text' : 'Initial'
	}, {
		'code' : 'testLabel3',
		'text' : 'Hello'
	}, {
		'code' : 'testLabel4',
		'text' : 'Hello {{putMultipleMessagesParameter}}'
	}, {
		'code' : 'testLabel5',
		'text' : 'Initial'
	}, {
		'code' : 'testLabel6',
		'text' : 'Initial'
	} ]
});
ngcMessagesService.setLanguage('en-us');
				</code>
			</pre>
			</br></br>
		 	<p>Code for loading the dutch messages.</p>
			<pre>
			 	<code ngc-prettyprint>
ngcMessagesService.put({
	'language' : 'nl',
	'messages' : [ {
		'code' : 'testLabel1',
		'text' : 'Initial'
	}, {
		'code' : 'testLabel2',
		'text' : 'Initial'
	}, {
		'code' : 'testLabel3',
		'text' : 'Hallo'
	}, {
		'code' : 'testLabel4',
		'text' : 'Hallo {{putMultipleMessagesParameter}}'
	}, {
		'code' : 'testLabel5',
		'text' : 'Initial'
	}, {
		'code' : 'testLabel6',
		'text' : 'Initial'
	} ]
});
ngcMessagesService.setLanguage('nl');
				</code>
			</pre>
		</div>
	</div>
	<div class="col-sm-6">
		<h2>Method put :: single messages</h2>
		<p>Test if single messages are put in the messages cache by the put method.</p>
		<br/>
		<div class="form-horizontal">
			<div class="form-group">
				<div class="col-sm-offset-4 col-sm-8">
					<a href="#" id="putSingleMessageEnglishButton" class="btn btn-primary" ng-click="putSingleMessageEnglish($event)">Put (english)</a>
					<a href="#" id="putSingleMessageDutchButton" class="btn btn-primary" ng-click="putSingleMessageDutch($event)">Put (dutch)</a>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label" for="name">Label 5</label>
				<div class="col-sm-8">
					<div class="form-control-static">{{'testLabel5' | ngcMessage}}</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label" for="name">Label 6 with parameter</label>
				<div class="col-sm-8">
		 			<div class="form-control-static">{{'testLabel6' | ngcMessage:({'putSingleMessageParameter': putSingleMessageParameter})}}</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label" for="name">Label 6 parameter</label>
				<div class="col-sm-8">
		 			<input type="text" class="form-control" ng-model="putSingleMessageParameter"/>
				</div>
			</div>
	 	</div>
		<a ng-click="showPutSingleMessagesCode = !showPutSingleMessagesCode">{{showPutSingleMessagesCode ? 'Hide' : 'Show'}} code</a>	 	
		<div ng-show="showPutSingleMessagesCode">
		 	<p>Code for loading the english messages.</p>
		 	<pre>
		 		<code ngc-prettyprint>
ngcMessagesService.put('en-us', 'testLabel1', 'Initial');
ngcMessagesService.put('en-us', 'testLabel2', 'Initial');
ngcMessagesService.put('en-us', 'testLabel3', 'Initial');
ngcMessagesService.put('en-us', 'testLabel4', 'Initial');
ngcMessagesService.put('en-us', 'testLabel5', 'Hello');
ngcMessagesService.put('en-us', 'testLabel6', 'Hello {{putSingleMessageParameter}}');
ngcMessagesService.setLanguage('en-us');
				</code>
			</pre>
			</br></br>
		 	<p>Code for loading the dutch messages.</p>
		 	<pre>
		 		<code ngc-prettyprint>
ngcMessagesService.put('nl', 'testLabel1', 'Initial');
ngcMessagesService.put('nl', 'testLabel2', 'Initial');
ngcMessagesService.put('nl', 'testLabel3', 'Initial');
ngcMessagesService.put('nl', 'testLabel4', 'Initial');
ngcMessagesService.put('nl', 'testLabel5', 'Hallo');
ngcMessagesService.put('nl', 'testLabel6', 'Hallo {{putSingleMessageParameter}}');
ngcMessagesService.setLanguage('nl');
				</code>
			</pre>
		</div>
	</div>
</div>
