<div class="navbar navbar-default" ng-controller="NavbarController">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="index.html" class="navbar-brand">Monitor test</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li id="navbarItemLogging" ng-class="{active: 'navbarItemLogging' == ngcNavbarActiveItem}"><a href="logging.html">Logging</a></li>
				<li id="navbarItemFileUpload" ng-class="{active: 'navbarItemFileUpload' == ngcNavbarActiveItem}"><a href="file-upload.html">File upload</a></li>
				<li id="navbarItemInputField" ng-class="{active: 'navbarItemInputField' == ngcNavbarActiveItem}"><a href="input-field.html">Input field</a></li>
				<li id="navbarItemWebservice" ng-class="{active: 'navbarItemWebservice' == ngcNavbarActiveItem}"><a href="webservice.html">Webservice</a></li>
				<li id="navbarItemCertificate" ng-class="{active: 'navbarItemCertificate' == ngcNavbarActiveItem}"><a href="certificate.html">Certificate</a></li>
				<li id="navbarItemMessages" ng-class="{active: 'navbarItemMessages' == ngcNavbarActiveItem}"><a href="messages.html">Messages</a></li>
			</ul>
		</div>
	</div>
</div>
