<div class="navbar">
	<div class="navbar-inner">
		<a href="index.html" class="brand">Monitor test</a>
		<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</a>
		<div class="nav-collapse collapse">
			<ul class="nav">
				<li id="navbarItemLogging" ng-class="{active: 'navbarItemLogging' == navbarActiveItem}"><a href="logging.html">Logging</a></li>
				<li id="navbarItemFileUpload" ng-class="{active: 'navbarItemFileUpload' == navbarActiveItem}"><a href="file-upload.html">File upload</a></li>
				<li id="navbarItemInputField" ng-class="{active: 'navbarItemInputField' == navbarActiveItem}"><a href="input-field.html">Input field</a></li>
				<li id="navbarItemWebservice" ng-class="{active: 'navbarItemWebservice' == navbarActiveItem}"><a href="webservice.html">Webservice</a></li>
				<li id="navbarItemCertificate" ng-class="{active: 'navbarItemCertificate' == navbarActiveItem}"><a href="certificate.html">Certificate</a></li>
			</ul>
		</div>
	</div>
</div>
