<div class="navbar navbar-default" ng-controller="NavbarController">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">CRUD rest<</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="index.html#/" class="navbar-brand">CRUD for entities</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li ng-repeat="entityMetadata in $parent.entitiesMetadata"
					id="navbarItem{{entityMetadata.entityClass}}">
						<a href="index.html#/entities/{{entityMetadata.entityClass}}">{{entityMetadata.entityClass | ngcMessage}}</a>
				</li>
			</ul>
		</div>
	</div>
</div>
