<div class="navbar">
	<div class="navbar-inner">
		<a href="index.html" class="brand">CRUD test</a>
		<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</a>
		<div class="nav-collapse collapse">
			<ul class="nav">
				<li id="navbarItemUsers" ng-class="{active: 'navbarItemUsers' == navbarActiveItem}"><a href="crud.html?entityClass=org.metalisx.crud.domain.model.User">Users</a></li>
				<li id="navbarItemUsers" ng-class="{active: 'navbarItemCompanies' == navbarActiveItem}"><a href="crud.html?entityClass=org.metalisx.crud.domain.model.Company">Companies</a></li>
			</ul>
		</div>
	</div>
</div>
