<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- For testing the LogbackServerSocket class, but it is halted -->
	<!-- 
	<appender name="SOCKET" class="ch.qos.logback.classic.net.SocketAppender">
		<remoteHost>127.0.0.1</remoteHost>
		<port>1234</port>
		<reconnectionDelay>10000</reconnectionDelay>
		<includeCallerData>true</includeCallerData>
	</appender>
	-->
	
  	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>
	
	<logger name="org.metalisx" level="DEBUG">
		<appender-ref ref="STDOUT" />
	</logger>
	
</configuration>
