<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../css/bootstrap.css" rel="stylesheet" type="text/css"></link>
	<link href="../css/common.css" rel="stylesheet" type="text/css"></link> 
	<script src="../js/jquery-1.9.1.js" type="text/javascript"></script>
	<script src="../js/angular.js" type="text/javascript"></script>
	<script src="../js/bootstrap.js" type="text/javascript"></script>
	<script src="../js/jquery-metalisx-utils.js" type="text/javascript"></script>

	<script src="../js/module/application.js" type="text/javascript"></script>
	<script src="../js/module/navbar.js" type="text/javascript"></script>
	<script src="../js/module/input-field.js" type="text/javascript"></script>
</head>
<body>

<div class="container" ng-app="application">

	<div class="navbarContainer" ngc-navbar="navbarItemInputField"></div>

	<div class="row-fluid">
		<div class="span12">
		
			<div id="alertContainer" class="alertContainer"></div>
		
		 	<div class="contentContainer">
		
				<div class="row-fluid" ng-controller="InputFieldController" ngc-enter="#getButton">
					<div class="span6">
						<h2>Test input field</h2>
						<p>Activating the buttons will log a request with the input field values. 
						The buttons are sending requests with the HTTP method equal to the buttons label.
						The requests can be found in the requests page, use the text 'test/get'
						for the 'Get'-button, use the text 'test/put'
						for the 'Put'-button, use the text 'test/delete'
						for the 'Delete'-button, use the text 'test/head'
						for the 'Head'-button, use the text 'test/post' 
						for the 'Post JSON'-button and use the text 'test/form' for the
						'Test Post Form'-button in the Url field.</p>
						<label>Who are you?</label>
						<input id="name" type="text" name="name" ng-model="model.name" ngc-focus/>
						<br/>
						<label>Date</label>
						<input id="date" type="text" name="date" ng-model="model.date"/>
						<br/>
				 		<div id="buttonContainer" class="buttonContainer">
							<a href="#" id="getButton" class="btn btn-primary" ng-click="get()">Get</a>
							<a href="#" id="getButton" class="btn btn-primary" ng-click="put()">Put</a>
							<a href="#" id="getButton" class="btn btn-primary" ng-click="del()">Delete</a>
							<a href="#" id="getButton" class="btn btn-primary" ng-click="head()">Head</a>
							<a href="#" id="postButton" class="btn btn-primary" ng-click="post()">Post JSON</a>
							<a href="#" id="formButton" class="btn btn-primary" ng-click="form()">Post Form</a>
				 		</div>
						<div id="resultContainer" class="alertContainer"></div>
					</div>
				</div>
				
		 	</div>

		</div>
	</div>

</div>

</body>
</html>