<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../css/bootstrap.css" rel="stylesheet" type="text/css"></link>
	<link href="../css/common.css" rel="stylesheet" type="text/css"></link> 
	<script src="../js/jquery-1.9.1.js" type="text/javascript"></script>
	<script src="../js/angular.js" type="text/javascript"></script>
	<script src="../js/bootstrap.js" type="text/javascript"></script>
	<script src="../js/jquery-metalisx-utils.js" type="text/javascript"></script>
	
	<script src="../js/module/application.js" type="text/javascript"></script>
	<script src="../js/module/navbar.js" type="text/javascript"></script>
	<script src="../js/module/logging.js" type="text/javascript"></script>
</head>
<body>

<div class="container" ng-app="application">

	<div class="navbarContainer" ngc-navbar="navbarItemLogging"></div>

	<div class="row-fluid">
		<div class="span12">

			<div id="alertContainer" class="alertContainer"></div>
		
		 	<div class="contentContainer">
		
				<div class="row-fluid">
					<div class="span6" ng-controller="HierarchyLoggingController">
						<h2>Test hierarchy in logging</h2>
						<p>Activating the button will create logging statements in the applications log file 
						with different depths to illustrate a hierarchy. The logging statements can be found in the 
						requests page, use the text 'testLoggingHierarchy' in the Url field. Before pressing 
						the button the listener on the local log file needs to be started, this will load 
						the log statements and bind them to the request.</p>
						<br>
				 		<p><a href="#" id="hierarchyLoggingButton" class="btn btn-primary" ng-click="run()">Test</a></p>
						<div id="resultContainer" class="alertContainer"></div>
					</div>
					<div class="span6" ng-controller="DomainServiceLoggingController" ngc-enter="#domainServiceLoggingAddButton">
						<h2>Test logging</h2>
						<p>To test if the application stores EJB profiler logging and Hibernate sql statement logging.
						The logging statements can be found in the 
						requests page, use the text 'testDomainServiceLogging' in the Url field. Before pressing 
						the button the listener on the local log file needs to be started, this will load 
						the log statements and bind them to the request. To see hibernate log statements containing
						query and bind parameters the application server needs to be configured to log 
						org.hibernate.SQL with level DEBUG and org.hibernate.type.descriptor.sql.BasicBinder 
						with level TRACE.</p>
						<label>Who are you?</label>
						<input id="name" type="text"  name="name" ng-model="model.name" ngc-focus/>
						<br/>
						<label>Date</label>
						<input id="date" type="text" name="date" ng-model="model.date"/>
						<br/>
				 		<div id="domainServiceLoggingButtonContainer" class="buttonContainer">
							<a href="#" id="domainServiceLoggingAddButton" class="btn btn-primary" ng-click="add()">Persist</a>
				 		</div>
				 		<h4>Table content</h4>
						<a href="#" id="domainServiceLoggingCleanButton" class="btn btn-primary" ng-click="clean()">Clean</a>
				 		<div id="domainServiceLoggingData"/>
					</div>
				</div>
				
		 	</div>

		</div>
	</div>

</div>

</body>
</html>