<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../css/bootstrap.css" rel="stylesheet" type="text/css"></link>
	<link href="../css/common.css" rel="stylesheet" type="text/css"></link> 
	<script src="../js/jquery-1.9.1.js" type="text/javascript"></script>
	<script src="../js/angular.js" type="text/javascript"></script>
	<script src="../js/bootstrap.js" type="text/javascript"></script>
	<script src="../js/jquery-metalisx-utils.js" type="text/javascript"></script>

	<script src="../js/module/application.js" type="text/javascript"></script>
	<script src="../js/module/navbar.js" type="text/javascript"></script>
	<script src="../js/module/messages.js" type="text/javascript"></script>
</head>
<body>

<div class="container" ng-app="application">

	<div class="navbarContainer" ngc-navbar="navbarItemMessages"></div>

	<div id="messagesContainer" class="messagesContainer"></div>
			
	<div class="row-fluid">
		<div class="span6">
		
		 	<div class="contentContainer">
		
				<div class="row-fluid" ng-controller="MessagesController">
					<div class="span12">
						<h2>Test messages default messages container</h2>
						<p>Test if the messages return by the REST service are displayed correctly in the default messages container. 
						Activating the buttons will show messages for success, error and info.</p>
						<br/>
				 		<p><a href="#" id="messagesDefaultContainerButton" class="btn btn-primary" ng-click="getMessagesDefaultContainer()">Test</a></p>
					</div>
				</div>
		 	</div>

		</div>
		<div class="span6">
		
		 	<div class="contentContainer">
		
				<div class="row-fluid" ng-controller="MessagesController">
					<div class="span12">
						<h2>Test single message named messages container</h2>
						<p>Test if the single message return by the REST service is displayed correctly in the named messages container. 
						Activating the buttons will show a info message.</p>
						<br/>
				 		<p><a href="#" id="singleMessageNamedContainerButton" class="btn btn-primary" ng-click="getSingleMessageNamedContainer()">Test</a></p>
				 		<br/>
						<div id="singleMessageContainer" class="messagesContainer"></div>
					</div>
				</div>
		 	</div>

		</div>
	</div>
	<div class="row-fluid">
		<div class="span6">

		 	<div class="contentContainer">
		
				<div class="row-fluid" ng-controller="MessagesController">
					<div class="span12">
						<h2>Test messages named messages container</h2>
						<p>Test if the messages return by the REST service are displayed correctly in the named messages container. 
						Activating the buttons will show messages for success, error and info.</p>
						<br/>
				 		<p><a href="#" id="messagesNamedContainerButton" class="btn btn-primary" ng-click="getMessagesNamedContainer()">Test</a></p>
				 		<br/>
						<div id="messagesNamedContainer" class="messagesContainer"></div>
					</div>
				</div>
		 	</div>

		</div>
		<div class="span6">
		
		 	<div class="contentContainer">
		
				<div class="row-fluid" ng-controller="MessagesController">
					<div class="span12">
						<h2>Test messages multiple named messages container</h2>
						<p>Test if the messages return by the REST service are displayed correctly in the named messages containers. 
						Activating the buttons will show messages for success, error and info.</p>
						<br/>
				 		<p><a href="#" id="messagesMultpleNamedContainersButton" class="btn btn-primary" ng-click="getMessagesMultipleNamedContainers()">Test</a></p>
						<div class="row-fluid">
							<div class="span6">
								<div id="messagesNamedContainerA" class="messagesContainer"></div>
							</div>
							<div class="span6">
								<div id="messagesNamedContainerB" class="messagesContainer"></div>
							</div>
						</div>
					</div>
				</div>
		 	</div>

		</div>
	</div>

</div>

</body>
</html>