<div id="actions">
	<div>
		<div id="cleanMonitorRequestsLabel">Pressing the 'Clean monitor requests' button will remove all monitor requests from the database.</div>
		<br/>
		<a href="#" id="cleanMonitorRequests" class="btn btn-primary" ng-click="clearMonitorRequests()">Clean monitor requests</a>
	</div>
	<br/>
	<div>
		<div id="cleanMonitorLogsLabel">Pressing the 'Clean monitor logs' button will remove all monitor logs from the database.</div>
		<br/>
		<a href="#" id="cleanMonitorLogs" class="btn btn-primary" ng-click="clearMonitorLogs()">Clean monitor logs</a>
	</div>
</div>
