<label>Id</label><div>{{aData.id}}</div><br></br>
<label>Log level</label><div>{{aData.logLevel}}</div><br></br>
<label>Log class</label><div>{{aData.logClass}}</div><br></br>
<label>Thread</label><div>{{aData.thread}}</div><br></br>
<label>Session id</label><div><a href="logs.html?showList=true&immediate=true&sessionId={{aData.sessionId}}">{{aData.sessionId}}</a></div><br></br>
<label>Request id</label><div><a href="request.html?requestId={{aData.requestId}}">{{aData.requestId}}</a></div><br></br>
