<div class="navbar navbar-default" ng-controller="NavbarController">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="index.html" class="navbar-brand">Monitor</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li id="navbarItemRequests" ng-class="{active: 'navbarItemRequests' == ngcNavbarActiveItem}"><a href="requests.html">Requests</a></li>
				<li id="navbarItemLogs" ng-class="{active: 'navbarItemLogs' == ngcNavbarActiveItem}"><a href="logs.html">Logs</a></li>
				<li id="navbarItemSummary" ng-class="{active: 'navbarItemSummary' == ngcNavbarActiveItem}"><a href="summary.html">Logs Summary</a></li>
				<li id="navbarItemLogFileLoad" ng-class="{active: 'navbarItemLogFileLoad' == ngcNavbarActiveItem}"><a href="log-file-load.html">Log File Load</a></li>
				<li id="navbarItemLogFileListeners" ng-class="{active: 'navbarItemLogFileListeners' == ngcNavbarActiveItem}"><a href="log-file-listeners.html">Log File Listeners</a></li>
				<li id="navbarItemSettings" ng-class="{active: 'navbarItemSettings' == ngcNavbarActiveItem}"><a href="settings.html">Settings</a></li>
				<li id="navbarItemAdmin" ng-class="{active: 'navbarItemAdmin' == ngcNavbarActiveItem}"><a href="admin.html">Admin</a></li>
			</ul>
		</div>
	</div>
</div>
