<div id="settings">
	<table cellpadding="0" cellspacing="0" border="0" id="dataTable" class="table table-striped table-bordered settingsTable"
			ngc-data-table ngc-data-table-enabled="dataTableEnabled"
			ngc-data-table-settings="dataTableSettings" ngc-data-table-filter="dataTableFilter"
			ngc-data-table-callback="dataTableCallback(dataTable)")>
		<thead>
			<tr>
				<th class="id">ID</th>
				<th class="code">Code</th>
				<th class="value">Value</th>
			</tr>
		</thead>
	</table>
</div>
